-------------------------------------------
general css for login and sign up pages
-------------------------------------------

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;	
	background-color: #ffffff;
}

.container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: auto auto 5fr auto;
	grid-template-areas:
		"header header"
		"navigation navigation"
		"main-content main-content"
		"footer footer";
	padding-right: 15px;
	padding-left: 15px;
}

/* Making the container responsive with different device widths */
@media (max-width: 768px) {
    .container {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header header"
            "navigation navigation"
            "main-content main-content"
            "footer";
    }
}

@media (max-width: 482px) {
    .container {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header header"
            "navigation"
            "main-content"
            "footer";
    }
}

@media (max-width: 150px) {
    .container {
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header header"
            "navigation"
            "main-content"
            "footer";
    }
}

.heading {
	grid-column: 1/3;
	grid-area: header; 
	color: #fff;
	background-color: #35424a;
	padding-left: 10px;
}

.heading h1 {
    cursor: pointer;
}
/* menu is responsible for styling the menu list */
.menu {
	grid-column: 1/3;
	grid-area: navigation;
	grid-row: 2/3;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #f1f1f1;
}

.nav {
	text-align: right;
    margin: 0px;
    padding: 0px;
}

.nav li {
    display: inline;
    font-size: 20px;
}

.nav li a {
    display: inline-block;
    color: #337ab7;
    text-align: right;
    padding: 15px;
    text-decoration: none;
}

.nav li a:hover {
    background: #555;
    color: white;
}

.nav a:hover {
	outline: none;
}

@media (max-width: 768px) {
    .nav {
        padding: 0px;
    }
    .nav li a {
        display: block;
        text-align: left;
        padding: 10px;
        margin: 0px;
    }
}

/* nested contains a grid for form page and body page */
.nested {
    display: grid;
    grid-area: main-content;
    grid-column: 1/3;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
        "content1 content2";
	background: 
		linear-gradient( 
			rgba(8, 180, 245, 0.75),
			rgba(3, 20, 27, 0.91)), 
			url("../images/bground.jpg");
    
  /*  background: 
        linear-gradient( 
			rgba(8, 180, 245, 0.75),
			rgba(3, 20, 27, 0.91)), 
			url("https://emmanuel-n2112.github.io/Maintenance-Tracker-App-Staging/assets/images/bground.JPG");
   */ 
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .nested {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content1" 
            "content2";
    }
}

@media (max-width: 482px) {
    .nested {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content1"
            "content2";
    }
}

@media (max-width: 150px) {
    .nested {
        grid-template-rows: auto auto;
        grid-template-areas: 
            "content1"
            "content2";
    }
}

.body-content {
    grid-area: content2;
    color: white;
	padding: 0px 10px 0px 10px;
}
.body-content h2{
    margin-bottom: 16px !important;
    font: 300 Roboto;
    font-size: 54px;
}
.body-content p{
    font: 24px 300 Roboto; 
}

@media (max-width: 768px) {
    .body-content h2{
        font-size: 29px;
    }
}

@media (max-width: 150px) {
    .body-content h2{
        font-size: 24px;
    }
}

.content {
	font-size: 20px;
}

footer {
	grid-area: footer;
	margin: 1px 0px 5px 0px;
	grid-column: 1/3;
	display: block;
	padding: 20px;
	background-color: #808080;
	font: 15px Verdana, sans-serif;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 2em;
	font-family: inherit;
	line-height: 1.5;
	color: inherit;
}

button, input {
	font: inherit;
	color: inherit;
}

.submit {
	background-color:  rgb(40, 167, 69);
	color: #fff;
	padding: 15px 0px 15px 0px;
	display: block;
	border-radius: 6px;
    text-align: center;
    width: 30%;
    border: none;
}

.submit:hover{
    opacity: 0.8;
}

@media (max-width: 282px) {
    .submit {
        padding: 12px 0px;
        margin: 5px 0px;
    }
}

button, input[type="button"], input[type="submit"] {
	cursor: pointer;
} 

input[type="search"] {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 5px;
	-webkit-appearance: textfield;
}

@media (max-width: 768px) {
    input[type="search"] {
        margin: 10px 0px;
        width: 100%;
    }
}

@media (max-width: 482px) {
    input[type="search"] {
        margin: 10px 0px;
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.checkbox, .radiobox {
	position: relative;
	display: inline;
	margin: 15px 5px 15px;
	cursor: pointer;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

h2 {
    padding: 10px;
}
@media (max-width: 482px) {
    h2, h3 {
        text-align: center
    }
}

.error-message p {
    color: red;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.success-message p {
    color: green;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}